@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
   
}
/* -----------navbar----------------- */
.nav{
    background-color: #F9F9F9;
}

.nav-item a{

font-weight: bold;
font-size: 16px;
font-family: 'Roboto Slab', serif;
}
.nav-item a:hover{
    background-color: #FFA500;
    color: antiquewhite;
    border-radius: 10%;
}

.btn{
background-color:#FFA500;
color: white;
}

/* ----------------home page-------------------- */
.home{
    
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(images/background\ img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    padding-top: 1px;
}
.content{
    color: white;
}
.content h3{
    margin-top: 200px;
    font-size: 40px;
}
.btn2{
    background-color: white;
    color: black;
}
.btn2:hover{
    background-color: #FFA500;
    color: white;
}
.content h1{
    font-size: 70px;
}

.changetext::after{
    content:'';
    color: #FFA500;
    text-shadow: 0px 1px 1px black;
    animation:changecontent 10s infinite linear;
}
@keyframes changecontent {
    0%{content:'India';}
    10%{content:'Spain';}
    20%{content:'Germany';}
    30%{content:'France';}
    40%{content:'United Kingdom';}
    50%{content:'Italy';}
    60%{content:'Turkey';}
    70%{content:'China';}
    80%{content:'Mexico';}
    90%{content:'Sri Lanka';}
    100%{content:'Japan';}
}

/* ----------------book section------------------------ */
.book{
    background-color:#F9F9F9 ;
}

.text1 h1{
    color: #FFA500;
    text-shadow:  0px 1px 1px black;
    font-size: 45px;
}

.text1 span{
    color: black;
}

.book_btn{
    width: 120px;
    padding: 10px;
    background-color:  #FFA500;
    color: white;
    border: none;
    transition: 0.6s;
}

.book_btn:hover{
    width: 140px;
    padding: 10px;
    transition: 0.6s;
}


/* -------------------packages------------------------------- */
.services{
    background: #f7f5f2;
  }
.text2 h1{
    color: #FFA500;
    text-shadow:  0px 1px 1px black;
    font-size: 45px;
}

.text2 span{
    color: black;
}
.card-txt .a{
    color:  #FFA500;
}

/* --------------------Services----------------------------- */
.text3 h1{
    color: #FFA500;
    text-shadow:  0px 1px 1px black;
    font-size: 45px;
}
.text3 span{
    color: black;
}
.services_logo{
    font-size: 80px;
    color: #FFA500;
}


/* --------------------gallery------------------- */
  .text4 h1{
    color: #FFA500;
    text-shadow:  0px 1px 1px black;
    font-size: 45px;
}
.text4 span{
    color: black;
}
 .card1 img{
    transition: 0.5s;
 } 
 .card1 img:hover{
    transform: scale(1.1);
 }


  /* ---------------------about---------------------------------- */
.about-us{
    background-color:#F9F9F9 ;
}
  .text5 h1{
    color: black;
    font-size: 45px;
}
.text5 span{
    color: #FFA500;
    text-shadow:  0px 1px 1px black;
} 


/* ---------------------footer------------------------------ */
.footer{
    background-color:#F9F9F9 ;
  
}
.text5 h1{
    color: #FFA500;
    text-shadow:  0px 1px 1px black;
    font-size: 45px;
}
.text5 span{
    color: black;
}
.fa-brands {
    font-size: 40px;
}
.fa-brands:hover{
    color: #FFA500;
    transition: 0.7s;
}